<!--Top slider Starts-->
<div id="slider_top">
  <ul class="rslides" id="carousel1">
    <li>
      <div class="overlap_widget_wrapper">
        <div class="left_image">
          <div class="placeholder"> <a href="#" ><%= image_tag 'slider_img1.jpg' %>'</a></div>
        </div>
        <div class="right_image">
          <div class="placeholder"> <a href="#"><%= image_tag 'slider_img2.jpg' %></a></div>
        </div>
        <div class="clear"></div>
      </div>
    </li>
    <li>
      <div class="overlap_widget_wrapper">
        <div class="left_image">
          <div class="placeholder"> <a href="#" ><%= image_tag 'slider_img3.jpg' %></a></div>
        </div>
        <div class="right_image">
          <div class="placeholder"> <a href="#"><%= image_tag 'slider_img4.jpg' %></a></div>
        </div>
        <div class="clear"></div>
      </div>
    </li>
    <li>
      <div class="overlap_widget_wrapper">
        <div class="left_image">
          <div class="placeholder"> <a href="#" ><%= image_tag 'slider_img5.jpg' %></a></div>
        </div>
        <div class="right_image">
          <div class="placeholder"> <a href="#"><%= image_tag 'slider_img6.jpg' %></a></div>
        </div>
        <div class="clear"></div>
      </div>
    </li>
  </ul>
  <!--Top slider Ends--> 
</div>
<div class="sixteen columns">
  <div id="services">
    <ul>
      <li><a href="#">ORIGINAL PRODUCTS</a></li>
      <li><a href="#">FREE SHIPPING </a></li>
      <li><a href="#">CASH ON DELIVERY </a></li>
      <li><a href="#">30-DAY RETURNS</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="sixteen columns">
    <ul class="tabs">
      <li><a id="bestsellers_activate" class="active_slider">BESTSELLERS</a> / </li>
      <li><a id="specials_activate">ON SALE</a> /</li>
      <li> <a id="newproducts_activate">NEW PRODUCTS</a></li>
    </ul>
  </div>
  <div class="sixteen columns">
    <div class="list_carousel responsive">
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="sixteen columns alpha tabs-slider-content">
    <div id="bestsellers_slider">
      <div id="carousel_bestsellers" class="es-carousel-wrapper">
        <div class="es-carousel">
          <ul>
            <li class="four columns product">
              <div class="product-image-wrapper" onClick="parent.location='product.html'"> <a href="product.html" title="Azrouel Dress"><%= image_tag('product1.jpg', class: 'scale-with-grid')%> <%= image_tag('product1-hover.jpg', class: 'roll_over_img')%>
                <div class="product-image-wrapper-hover"></div>
                </a></div>
              <div class="wrapper-hover">
                <div class="icon_cart_rollover">
                  <button type="button" title="Add to Cart" onClick="parent.location='product.html'"></button>
                </div>
                <div class="product-price"><span>$49.99</span></div>
                <div class="product-name">AZROUEL DRESS</div>
              </div>
            </li>
            <li class="four columns product">
              <div class="product-image-wrapper" onClick="parent.location='product.html'"> <a href="product.html" title="SUMMER DRESS"> <%= image_tag('product2.jpg', class: 'scale-with-grid')%> <%= image_tag('product2-hover.jpg', class: 'roll_over_img')%>
                <div class="product-image-wrapper-hover"></div>
                </a></div>
              <div class="wrapper-hover">
                <div class="icon_cart_rollover">
                  <button type="button" title="Add to Cart" onClick="parent.location='product.html'"></button>
                </div>
                <div class="product-price"><span>$164.25</span></div>
                <div class="product-name">SUMMER DRESS</div>
              </div>
            </li>
            <li class="four columns product">
              <div class="product-image-wrapper" onClick="parent.location='product.html'"> <a href="product.html" title="Metallic-Blue  DRESS"> <%= image_tag('product3.jpg', class: 'scale-with-grid')%> <%= image_tag('product3-hover.jpg', class: 'roll_over_img')%>
                <div class="product-image-wrapper-hover"></div>
                </a></div>
              <div class="wrapper-hover">
                <div class="icon_cart_rollover">
                  <button type="button" title="Add to Cart" onClick="parent.location='product.html'"></button>
                </div>
                <div class="product-price"><span><span class="old-price">$82.56</span><span class="new-price">$64.22</span></span></div>
                <div class="product-name">Metallic-Blue  DRESS</div>
              </div>
            </li>
            <li class="four columns product">
              <div class="product-image-wrapper" onClick="parent.location='product.html'"> <a href="product.html" title="ANGELA DRESS"> <%= image_tag('product4.jpg', class: 'scale-with-grid')%> <%= image_tag('product4-hover.jpg', class: 'roll_over_img')%>
                <div class="product-image-wrapper-hover"></div>
                </a></div>
              <div class="wrapper-hover">
                <div class="icon_cart_rollover">
                  <button type="button" title="Add to Cart" onClick="parent.location='product.html'"></button>
                </div>
                <div class="product-price"><span>$51.29</span></div>
                <div class="product-name">ANGELA DRESS</div>
              </div>
            </li>
            <li class="four columns product">
              <div class="product-image-wrapper" onClick="parent.location='product.html'"> <a href="product.html" title="PETITES MINK TWILL JACKET"> <%= image_tag('product5.jpg', class: 'scale-with-grid')%><%= image_tag('product5-hover.jpg', class: 'roll_over_img')%>
                <div class="product-image-wrapper-hover"></div>
                </a></div>
              <div class="wrapper-hover">
                <div class="icon_cart_rollover">
                  <button type="button" title="Add to Cart" onClick="parent.location='product.html'"></button>
                </div>
                <div class="product-price"><span>$51.29</span></div>
                <div class="product-name">PETITES MINK TWILL JACKET</div>
              </div>
            </li>
            <li class="four columns product">
              <div class="product-image-wrapper" onClick="parent.location='product.html'"> <a href="product.html" title="STRAPLESS RUFFLED COCKTAIL DRESS"> <%= image_tag('product6.jpg', class: 'scale-with-grid')%><%= image_tag('product6-hover.jpg', class: 'roll_over_img')%>
                <div class="product-image-wrapper-hover"></div>
                </a></div>
              <div class="wrapper-hover">
                <div class="icon_cart_rollover">
                  <button type="button" title="Add to Cart" onClick="parent.location='product.html'"></button>
                </div>
                <div class="product-price"><span>$51.29</span></div>
                <div class="product-name">STRAPLESS RUFFLED COCKTAIL DRESS</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="specials_slider">
      <div id="carousel_specials" class="es-carousel-wrapper">
        <div class="es-carousel">
          <ul>
            <li class="four columns product">
              <div class="product-image-wrapper" onClick="parent.location='product.html'">
                <div class="product_label_sale"></div>
                <a href="product.html" title="ANGELA DRESS"> <%= image_tag('product4.jpg', class: 'scale-with-grid')%> <%= image_tag('product4-hover.jpg', class: 'roll_over_img')%>
                <div class="product-image-wrapper-hover"></div>
                </a></div>
              <div class="wrapper-hover">
                <div class="icon_cart_rollover">
                  <button type="button" title="Add to Cart" onClick="parent.location='product.html'"></button>
                </div>
                <div class="product-price"><span>$51.29</span></div>
                <div class="product-name">ANGELA DRESS</div>
              </div>
            </li>
            <li class="four columns product">
              <div class="product-image-wrapper" onClick="parent.location='product.html'">
                <div class="product_label_sale"></div>
                <a href="product.html" title="PETITES MINK TWILL JACKET"> <%= image_tag('product5.jpg', class: 'scale-with-grid')%> <<%= image_tag('product5-hover.jpg', class: 'roll_over_img')%>
                <div class="product-image-wrapper-hover"></div>
                </a></div>
              <div class="wrapper-hover">
                <div class="icon_cart_rollover">
                  <button type="button" title="Add to Cart" onClick="parent.location='product.html'"></button>
                </div>
                <div class="product-price"><span>$51.29</span></div>
                <div class="product-name">PETITES MINK TWILL JACKET</div>
              </div>
            </li>
            <li class="four columns product">
              <div class="product-image-wrapper" onClick="parent.location='product.html'">
                <div class="product_label_sale"></div>
                <a href="product.html" title="STRAPLESS RUFFLED COCKTAIL DRESS"><%= image_tag('product6.jpg', class: 'scale-with-grid')%> <%= image_tag('product6-hover.jpg', class: 'roll_over_img')%>
                <div class="product-image-wrapper-hover"></div>
                </a></div>
              <div class="wrapper-hover">
                <div class="icon_cart_rollover">
                  <button type="button" title="Add to Cart" onClick="parent.location='product.html'"></button>
                </div>
                <div class="product-price"><span>$51.29</span></div>
                <div class="product-name">STRAPLESS RUFFLED COCKTAIL DRESS</div>
              </div>
            </li>
            <li class="four columns product">
              <div class="product-image-wrapper" onClick="parent.location='product.html'">
                <div class="product_label_sale"></div>
                <a href="product.html" title="Azrouel Dress"> <%= image_tag('product1.jpg', class: 'scale-with-grid')%> <%= image_tag('product1-hover.jpg', class: 'roll_over_img')%>
                <div class="product-image-wrapper-hover"></div>
                </a></div>
              <div class="wrapper-hover">
                <div class="icon_cart_rollover">
                  <button type="button" title="Add to Cart" onClick="parent.location='product.html'"></button>
                </div>
                <div class="product-price"><span>$49.99</span></div>
                <div class="product-name">AZROUEL DRESS</div>
              </div>
            </li>
            <li class="four columns product">
              <div class="product-image-wrapper" onClick="parent.location='product.html'">
                <div class="product_label_sale"></div>
                <a href="product.html" title="SUMMER DRESS"> <%= image_tag('product2.jpg', class: 'scale-with-grid')%> <%= image_tag('product2-hover.jpg', class: 'roll_over_img')%>
                <div class="product-image-wrapper-hover"></div>
                </a></div>
              <div class="wrapper-hover">
                <div class="icon_cart_rollover">
                  <button type="button" title="Add to Cart" onClick="parent.location='product.html'"></button>
                </div>
                <div class="product-price"><span>$164.25</span></div>
                <div class="product-name">SUMMER DRESS</div>
              </div>
            </li>
            <li class="four columns product">
              <div class="product-image-wrapper" onClick="parent.location='product.html'">
                <div class="product_label_sale"></div>
                <a href="product.html" title="Metallic-Blue  DRESS"> <%= image_tag('product3.jpg', class: 'scale-with-grid')%> <%= image_tag('product3-hover.jpg', class: 'roll_over_img')%>
                <div class="product-image-wrapper-hover"></div>
                </a></div>
              <div class="wrapper-hover">
                <div class="icon_cart_rollover">
                  <button type="button" title="Add to Cart" onClick="parent.location='product.html'"></button>
                </div>
                <div class="product-price"><span><span class="old-price">$82.56</span><span class="new-price">$64.22</span></span></div>
                <div class="product-name">Metallic-Blue  DRESS</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="newproducts_slider">
      <div id="carousel_newproducts" class="es-carousel-wrapper">
        <div class="es-carousel">
          <ul>
            <li class="four columns product">
              <div class="product-image-wrapper" onClick="parent.location='product.html'">
                <div class="product_label_new"></div>
                <a href="product.html" title="Metallic-Blue  DRESS"> <%= image_tag('product3.jpg', class: 'scale-with-grid')%> <%= image_tag('product3-hover.jpg', class: 'roll_over_img')%>
                <div class="product-image-wrapper-hover"></div>
                </a></div>
              <div class="wrapper-hover">
                <div class="icon_cart_rollover">
                  <button type="button" title="Add to Cart" onClick="parent.location='product.html'"></button>
                </div>
                <div class="product-price"><span><span class="old-price">$82.56</span><span class="new-price">$64.22</span></span></div>
                <div class="product-name">Metallic-Blue  DRESS</div>
              </div>
            </li>
            <li class="four columns product">
              <div class="product-image-wrapper" onClick="parent.location='product.html'">
                <div class="product_label_new"></div>
                <a href="product.html" title="ANGELA DRESS"> <%= image_tag('product4.jpg', class: 'scale-with-grid')%> <%= image_tag('product4-hover.jpg', class: 'roll_over_img')%>
                <div class="product-image-wrapper-hover"></div>
                </a></div>
              <div class="wrapper-hover">
                <div class="icon_cart_rollover">
                  <button type="button" title="Add to Cart" onClick="parent.location='product.html'"></button>
                </div>
                <div class="product-price"><span>$51.29</span></div>
                <div class="product-name">ANGELA DRESS</div>
              </div>
            </li>
            <li class="four columns product">
              <div class="product-image-wrapper" onClick="parent.location='product.html'">
                <div class="product_label_new"></div>
                <a href="product.html" title="Azrouel Dress"> <%= image_tag('product1.jpg', class: 'scale-with-grid')%> <%= image_tag('product1-hover.jpg', class: 'roll_over_img')%>
                <div class="product-image-wrapper-hover"></div>
                </a></div>
              <div class="wrapper-hover">
                <div class="icon_cart_rollover">
                  <button type="button" title="Add to Cart" onClick="parent.location='product.html'"></button>
                </div>
                <div class="product-price"><span>$49.99</span></div>
                <div class="product-name">AZROUEL DRESS</div>
              </div>
            </li>
            <li class="four columns product">
              <div class="product-image-wrapper" onClick="parent.location='product.html'">
                <div class="product_label_new"></div>
                <a href="product.html" title="SUMMER DRESS"> <%= image_tag('product2.jpg', class: 'scale-with-grid')%> <%= image_tag('product2-hover.jpg', class: 'roll_over_img')%>
                <div class="product-image-wrapper-hover"></div>
                </a></div>
              <div class="wrapper-hover">
                <div class="icon_cart_rollover">
                  <button type="button" title="Add to Cart" onClick="parent.location='product.html'"></button>
                </div>
                <div class="product-price"><span>$164.25</span></div>
                <div class="product-name">SUMMER DRESS</div>
              </div>
            </li>
            <li class="four columns product">
              <div class="product-image-wrapper" onClick="parent.location='product.html'">
                <div class="product_label_new"></div>
                <a href="product.html" title="PETITES MINK TWILL JACKET"> <%= image_tag('product5.jpg', class: 'scale-with-grid')%> <%= image_tag('product5-hover.jpg', class: 'roll_over_img')%>
                <div class="product-image-wrapper-hover"></div>
                </a></div>
              <div class="wrapper-hover">
                <div class="icon_cart_rollover">
                  <button type="button" title="Add to Cart" onClick="parent.location='product.html'"></button>
                </div>
                <div class="product-price"><span>$51.29</span></div>
                <div class="product-name">PETITES MINK TWILL JACKET</div>
              </div>
            </li>
            <li class="four columns product">
              <div class="product-image-wrapper" onClick="parent.location='product.html'">
                <div class="product_label_new"></div>
                <a href="product.html" title="STRAPLESS RUFFLED COCKTAIL DRESS"> <%= image_tag('product6.jpg', class: 'scale-with-grid')%> <%= image_tag('product6-hover.jpg', class: 'roll_over_img')%>
                <div class="product-image-wrapper-hover"></div>
                </a></div>
              <div class="wrapper-hover">
                <div class="icon_cart_rollover">
                  <button type="button" title="Add to Cart" onClick="parent.location='product.html'"></button>
                </div>
                <div class="product-price"><span>$51.29</span></div>
                <div class="product-name">STRAPLESS RUFFLED COCKTAIL DRESS</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog-widget parallax fullwidth-block">
  <div class="container">
    <div class="sixteen columns">
      <div class="wrapper">
        <h3 class="pull-left title">FROM THE BLOG</h3>
      </div>
      <div class="from-blog carouFredSel">
        <div class="carouFredSel-controls">
          <div class="carouFredSel-buttons"><a id="blog-carousel-prev" class="prev" href="#"></a><a id="blog-carousel-next" class="next" href="#"></a></div>
        </div>
        <div class="carousel">
          <ul class="slides">
            <li>
              <div class="image "><a href="blog1.html"><%= image_tag 'fromblog_img1.jpg' %></a></div>
              <div class="text">
                <h5>Nullam id justo sed diam duis sollicitudin</h5>
                <div class="date">10.10.2014&nbsp;   |   &nbsp;<a href="#">5 Comments</a></div>
                Nullam id justo sed diam aliquam commodo iaculis, mi risus sagittis odio, vel ultrices enim sem ut diam imperdiet. Fusce tincidunt, justo congue egestas molestie. Phasellus id nisi vitae odio pretium aliquam. Integer ligula magna, dictum et, pulvinar non... </div>
            </li>
            <li>
              <div class="image "><a href="blog1.html"><%= image_tag 'fromblog_img2.jpg' %></a></div>
              <div class="text ">
                <h5>Nullam id justo sed diam duis sollicitudin</h5>
                <div class="date">10.10.2014&nbsp;   |   &nbsp;<a href="#">5 Comments</a></div>
                Nullam id justo sed diam aliquam commodo iaculis, mi risus sagittis odio, vel ultrices enim sem ut diam imperdiet. Fusce tincidunt, justo congue egestas molestie. Phasellus id nisi vitae odio pretium aliquam. Integer ligula magna, dictum et, pulvinar non... </div>
            </li>
            <li>
              <div class="image "><a href="blog1.html"><%= image_tag 'fromblog_img1.jpg' %></a></div>
              <div class="text">
                <h5>Nullam id justo sed diam duis sollicitudin</h5>
                <div class="date">10.10.2014&nbsp;   |   &nbsp;<a href="#">5 Comments</a></div>
                Nullam id justo sed diam aliquam commodo iaculis, mi risus sagittis odio, vel ultrices enim sem ut diam imperdiet. Fusce tincidunt, justo congue egestas molestie. Phasellus id nisi vitae odio pretium aliquam. Integer ligula magna, dictum et, pulvinar non... </div>
            </li>
            <li>
              <div class="image "><a href="blog1.html"><%= image_tag 'fromblog_img2.jpg' %></a></div>
              <div class="text ">
                <h5>Nullam id justo sed diam duis sollicitudin</h5>
                <div class="date">10.10.2014&nbsp;   |   &nbsp;<a href="#">5 Comments</a></div>
                Nullam id justo sed diam aliquam commodo iaculis, mi risus sagittis odio, vel ultrices enim sem ut diam imperdiet. Fusce tincidunt, justo congue egestas molestie. Phasellus id nisi vitae odio pretium aliquam. Integer ligula magna, dictum et, pulvinar non... </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="sixteen columns">
    <div class="wrapper">
      <h3 class="pull-left title">BRANDS</h3>
    </div>
    <div class="brands carouFredSel">
      <div class="carouFredSel-controls">
        <div class="carouFredSel-buttons"><a id="brands-carousel-prev" class="prev" href="#"></a><a id="brands-carousel-next" class="next" href="#"></a></div>
      </div>
      <div class="brands-carousel">
        <ul class="slides">
          <li><a href="#"><%= image_tag 'brand1.png' %></a></li>
          <li><a href="#"><%= image_tag 'brand2.png' %></a></li>
          <li><a href="#"><%= image_tag 'brand3.png' %></a></li>
          <li><a href="#"><%= image_tag 'brand4.png' %></a></li>
          <li><a href="#"><%= image_tag 'brand5.png' %></a></li>
          <li><a href="#"><%= image_tag 'brand6.png' %></a></li>
          <li><a href="#"><%= image_tag 'brand1.png' %></a></li>
          <li><a href="#"><%= image_tag 'brand2.png' %></a></li>
          <li><a href="#"><%= image_tag 'brand3.png' %></a></li>
          <li><a href="#"><%= image_tag 'brand4.png' %></a></li>
          <li><a href="#"><%= image_tag 'brand5.png' %></a></li>
          <li><a href="#"><%= image_tag 'brand6.png' %></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div  id="footer_higher">
    <div id="footer_higher_content">
      <div class="container">
        <div class="eight columns">
          <div class="four columns alpha" id="deal">
            <h3 class="title">DEAL OF THE DAY</h3>
            <div class="four columns product alpha">
              <div class="product-image-wrapper">
                <div class="product-image-wrapper-hover" onClick="parent.location='product.html'"></div>
                <div class="wrapper-hover-hidden">
                  <div class="product-price"><span>$164.25</span></div>
                  <div class="product-name">Fusce tincidunt, justo congue egestas molestie</div>
                </div>
                <img src="images/product_sale.jpg" class="scale-with-grid" alt="#"></div>
            </div>
          </div>
          <div class="four columns omega" id="contact">
            <h3 class="title">CONTACT INFO</h3>
            <p><strong>Contact phone:</strong><br>
              321321321,  321321321</p>
            <p><strong>CELL phone:</strong><br>
              123123123,  123123123</p>
            <p><strong>E-mail addresses:</strong><br>
              <a href="mailto:sales@mydomain.com">sales@mydomain.com</a><br>
              <a href="mailto:info@mydomain.com">info@mydomain.com</a></p>
            <p><strong>SKYPE:</strong><br>
              <a href="skype:test.shop">test.shop</a>,<a href="skype:shop.test">shop.test</a></p>
          </div>
        </div>
        <div class="eight columns">
          <div class="four columns alpha" id="twitter">
            <h3 class="title">TWITTER FEEDS</h3>
            <p><em>NullaFm id justo sed diam aliquam tincidunt. Duis sollicitudin, dui ac More info at http://t.co/f9E9cJEg Thanks for the patience :)</em><br>
              3 days ago </p>
            <p><em>Nullam ac nisi non eros gravida venenatis. Ut euismod fusce tincidunt http://t.co/VCB4tX7r</em><br>
              3 days ago </p>
            <p><em>Curabitur convallis facilisis lorem. Curabitur quis tortor. Mauris sem ac risu http://t.co/VCB4tX7r</em><br>
              3 days ago </p>
          </div>
          <div class="four columns omega" id="facebook">
            <h3 class="title">FACEBOOK</h3>
            <img src="images/fb.jpg" alt=""  class="full-width"> </div>
        </div>
      </div>
    </div>
  </div>
</div>